@import '~resources/scss/partials/_mixins.scss';
@import '~resources/scss/partials/_variables.scss';

.main-container {
    @include borderPage;
}

.blue-container {
    @include flex-align;
    @include borderPage;
    justify-content: space-between;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

main {
    background-color: #1C1C1C;
    color: white;
    padding: 20px 0px;
}

.card {
    width: calc(100% / 6 - 40px);
    text-align: center;
}

.blue-section {
    background-color: $DCblue;
    padding: 40px 0;
    position: relative;
    z-index: 1;

    .blue-section-links {
        @include flex-align;
        color: white;

        img {
            height: 100px;
        }
    }

    .blue-section-links-text {
        padding-left: 10px;
    }
}